.sectioncolumn{

}

.todohead{
    background-color: rgba(128, 128, 128, 0.281);
    margin: 5%;
    width: 320px;
    /* border:red 2px solid; */
    margin-top: 4%;
    
   
}
.todohead2{
    background-color: rgba(128, 128, 128, 0.281);
    margin:3% 2%;
    width: 220px;
    /* width: 30%; */
    
    height: fit-content;
   
}

.todolistcontainer{
    display: flex;
    flex-direction: row;
}
.cardinputs{
    background-color: white;
    margin: 5% 8%;
    margin-bottom: 2%;
    color: black;
}
.bottomicon{
    display: flex;
}
.inputbtnadd{
    margin-left: 8%;
    margin-top: 10%;
    overflow: visible;
    outline: none;
    border: none;
    overflow: visible;
    width: 80%;  
}

.addcardsbtn{
    cursor: pointer;
    margin-left: 6%;
}

.addcardbtn{
    margin: 5% 5% 5% 8%;
}
.cancelbtncard{
    cursor: pointer;
    margin-top: 6%;
}
.cancelbtncard > i{
    font-size: 30px;
}